/* Global CSS Variables */

:root {
  --light-gradient: linear-gradient(180deg, #ffffff, #9CD8EE); 
  --dark-gradient: linear-gradient(180deg, #101517, #226DBD);
}

#root {
  width: 100%;
  height: 100%;
}